
.tree__actions {
    font-size: 13px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
    position: sticky;
    // border-bottom: 1px solid #ddd;
    transition: box-shadow 0.3s ease;
    position: sticky;
    top: 10px;
    margin-bottom:10px;
    padding-bottom: 10px;
    overflow: hidden;
    z-index: 10;
    .shadow {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    i {
      // background-color: rgba(0, 0, 0, 0.2);
      border: 1px solid #ccc;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 5px;
      color: black;
      cursor: pointer;
    }
  
    .find__numbers {
      padding: 0 !important;
      margin: 0 !important;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
  
      .total__find {
        font-weight: bold;
      }
      .current__find {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  
    #search {
      height: 30px;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 200px;
  
      /* Optional: Add styles for the placeholder text */
      &::placeholder {
        color: #999;
        font-style: italic;
      }
  
      /* Optional: Add styles for the focused state */
      &:focus {
        outline: none; /* Remove default focus outline */
        border-color: #4caf50; /* Change border color on focus */
        box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); /* Add a subtle box shadow on focus */
      }
    }
  }
  
  .tree__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 15px;
  
    .parent__container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-top: 10px;
      list-style: none;
      position: relative;
  
      .tree__node {
        position: relative;
  
        &::before {
          content: "";
          position: absolute;
          border: 1px dashed rgba(0, 0, 0, 0.4);
          width: 2px;
          height: 100%;
          top: 0;
          left: -15px;
        }
  
        .node__content {
          display: flex;
          align-items: center;
          gap: 10px;
  
          .no__highlight__node {
            background-color: transparent;
            color: black;
          }
  
          .highlighted__node {
            background-color: #ffff99;
            color: #333;
            font-weight: bold;
            padding-left: 5px;
            padding-right: 5px;
          }
  
          .toggle__node {
            padding: 1px 5px;
            border-radius: 3px;
            color: white;
            font-weight: 500;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.2);
            color: black;
          }
  
          .active__toggle__node {
            background-color: rgba(0, 0, 255, 0.7);
          }
  
          .inactive__toggle__node {
            background-color: rgba(255, 0, 0, 0.7);
          }
        }
  
        a {
          text-decoration: underline;
          color: black;
          text-transform: capitalize;
        }
      }
  
      .no__children__node {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          border: 1px dashed rgba(0, 0, 0, 0.4);
          height: 2px;
          width: 10px;
          top: 50%;
          transform: translateY(-50%);
          left: -15px;
        }
      }
  
      .children__node {
        &::after {
          content: "";
          position: absolute;
          border: 1px dashed rgba(0, 0, 0, 0.4);
          height: 2px;
          width: 10px;
          top: 10px;
          left: -15px;
        }
      }
  
      .hide_node {
        display: none;
      }
  
      .show_node {
        display: block;
      }
    }
  }
  